[submodule "geo"]
	path = geo
	url = ssh://git@dnetcode.cs.kuleuven.be:2222/gridlock-kct12-geo.git
[submodule "core"]
	path = core
	url = ssh://git@dnetcode.cs.kuleuven.be:2222/gridlock-kct12-core.git
[submodule "simulation"]
	path = simulation
	url = ssh://git@dnetcode.cs.kuleuven.be:2222/gridlock-kct12-simulation.git
[submodule "configuration"]
	path = configuration
	url = ssh://git@dnetcode.cs.kuleuven.be:2222/gridlock-kct12-configuration.git
[submodule "coordination"]
	path = coordination
	url = ssh://git@dnetcode.cs.kuleuven.be:2222/gridlock-kct12-coordination.git
[submodule "events"]
	path = events
	url = ssh://git@dnetcode.cs.kuleuven.be:2222/gridlock-kct12-events.git
[submodule "simulation-model-queue"]
	path = simulation-model-queue
	url = ssh://git@dnetcode.cs.kuleuven.be:2222/gridlock-kct12-model-simulation-queue.git
[submodule "routing"]
	path = routing
	url = ssh://git@dnetcode.cs.kuleuven.be:2222/gridlock-kct12-routing.git
[submodule "utilities-graph"]
	path = utilities-graph
	url = ssh://git@dnetcode.cs.kuleuven.be:2222/gridlock-kct12-utilities-graph.git
[submodule "utilities-osm"]
	path = utilities-osm
	url = ssh://git@dnetcode.cs.kuleuven.be:2222/gridlock-kct12-utilities-osm.git
[submodule "utilities-mongo"]
	path = utilities-mongo
	url = ssh://git@dnetcode.cs.kuleuven.be:2222/gridlock-kct12-utilities-mongo.git
